.constructor-page {
    margin-top: 10px;
    background-image: url('../../images/constructor-assets/em-construcao.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -80px;
}

.constructor-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 70vh;
}

.constructor-card {
    flex-direction: column;
}

.constructor-page img {
    max-width: 500px;
}

@media (max-width: 760px) {
    .constructor-container {
        height: 400px;
    }
}